---
import Layout from "../../layouts/Layout.astro";
import Hero from "../../components/blog/Hero.astro";
import Tags from "../../components/blog/Tags.astro";
import ListPosts from "../../components/blog/ListPosts.astro";
const pageTitle = "Blog de Desarrollo Web y Tecnología | Gerardo Flores | GerardoF";
const description = "Blog sobre desarrollo frontend, diseño web y tecnología.";
const ogimage ={
    url: "/images/blogimage.webp",
    alt: "Logo de GerardoF con fondo verde. Blog de Desarrollo Web y Tecnología."
};
---

<Layout  pageTitle={pageTitle} description={description} ogimage={ogimage}>
   
    <Hero />
    <Tags />
    <div class="px-8 max-sm:px-4">
        <ListPosts />
    </div>

</Layout>
