---
import ExperienceItem from "./ExperienceItem.astro";
import Heading from "../ui/Heading.astro";
import { Icon } from "astro-icon/components";

const EXPERIENCE = [
  {
    date: "Jul. 2022 - Actualidad",
    title: "Software Engineer",
    company: "Invitafy",
    description:
      "Lidero el ciclo completo de los proyectos de software, desde la toma de requerimientos con usuarios y stakeholders hasta la implementación y soporte. Planifico tiempos, recursos y prioridades para garantizar entregas eficientes. Como desarrollador FrontEnd, contribuyo directamente al código y coordino al equipo de desarrollo asegurando la calidad técnica de cada producto. Desarrollo de aplicaciones web con Angular, React, Svelte, HTML, CSS, JavaScript y TypeScript. Implementación y consumo de APIs REST. Uso de Azure para bases de datos y almacenamiento. Análisis de datos con Power BI para medición de desempeño. Automatización de procesos para reducir trabajo manual y generar valor operativo. Diseño y desarrollo de soluciones tecnológicas para pequeñas y medianas empresas.",
  },
  {
    date: "Ene. 2020 - Jun. 2022",
    title: "Líder de Línea de Producción",
    company: "Unicar Plastics",
    description:
      "Liderazgo de equipo en línea de producción con aproximadamente 17 máquinas. Coordinación de personal, flujos de trabajo y eficiencia productiva. Aplicación de conocimientos de mecatrónica en entornos reales de manufactura y automatización.",
  },
];
---

<section class="py-8 px-8 max-md:py-4 mb-4 scroll-m-16" id="experience">
  <div class="flex flex-col pt-8 max-w-4xl mx-auto">
    <div class="flex gap-4 items-center justify-center">
      <Icon class="text-3xl dark:text-white text-blacktext" name="briefcase" />
      <Heading text="Experiencia" textGradient="Laboral" level={2} />
    </div>

    <div class="relative max-md:mt-0 mt-8" aria-label="Professional experience">
      <ol class="relative mt-10">
        {
          EXPERIENCE.map((experience, index) => (
            <li>
              <article
                role="article"
                aria-labelledby={`experience-title-${index}`}
              >
                <div
                  class="flex flex-col gap-2  text-zinc-00 dark:text-zinc-300 md:col-span-3"
                  aria-describedby={`experience-title-${index}`}
                >
                  <ExperienceItem {...experience} />
                </div>
              </article>
            </li>
          ))
        }
      </ol>
    </div>
  </div>
</section>
